* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
html {
  font-size: 62.5%;
}
@media screen and (min-width: 375px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 73.24%;
  }
}
@media screen and (min-width: 481px) {
  html {
    font-size: 94%;
  }
}
@media screen and (min-width: 561px) {
  html {
    font-size: 109%;
  }
}
@media screen and (min-width: 641px) {
  html {
    font-size: 125%;
  }
}
body {
  margin: 0 auto;
  font-family: "Microsoft YaHei", Arial, "Helvetica";
  background: #f6f6f6;
  color: #333;
  font-size: 1.2rem;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong,
var,
em,
i {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  width: 100%;
}
del {
  text-decoration: line-through;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
.mar_r10 {
  margin-right: 10px;
}
.mar_b10 {
  margin-bottom: 10px;
}
.arial {
  font-family: 'arial';
}
.gome_icon {
  font-family: 'gome_icon';
}
.t_red {
  color: #c70000;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis_two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.letter_middle {
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
}
.radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px #ccc solid;
  border-radius: 16px;
}
.radio_ckd:before {
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
  background: -webkit-linear-gradient(top, #ff4d4d, #bb0101);
  border-radius: 12px;
  content: '';
}
.nav {
  position: relative;
  text-align: center;
}
.nav .toolbar {
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  background: #ff4d4d;
  color: #fff;
}
.toolbar {
  position: relative;
  text-align: center;
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  background: #ff4d4d;
  color: #fff;
}
.toolbar h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 7rem;
}
.toolbar .nav_ico {
  width: 3.5rem;
  height: 4.4rem;
  font-size: 2rem;
  text-align: center;
}
.toolbar .nav_back {
  position: absolute;
  top: 0;
  left: 0;
}
.toolbar .nav_remove {
  position: absolute;
  top: 0;
  right: 0;
}
.toolbar .nav_home {
  position: absolute;
  top: 0;
  right: 2.3rem;
}
.toolbar .nav_action {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 3.5rem;
  max-width: 6rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  -webkit-outline: none;
  outline: none;
  border: none;
}
input[type=search] {
  -webkit-appearance: none;
}
input::-webkit-search-cancel-button {
  display: none;
}
input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  -moz-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
textarea:focus {
  -webkit-user-modify: read-write-plaintext-only;
}
#gotop {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  background: rgba(0, 0, 0, 0.5);
  border-radius: .2rem;
  color: #fff;
  font-size: 2rem;
}
.dj-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    box-align: center;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    display: none;
}

.dj-dialog{
    position: relative;
    margin: 0 auto;
    top:24%;
    width:60%;
    background: #fff;
    border-radius: 3px;
    display: none;
}