.lm-detail {
    background: #fcd111;
    padding-bottom: 2rem;
}
.lm-con {
    width: 88%;
    margin: 0 6%;
    background: rgba(255,255,255,0.6);
    overflow: hidden;
}
.right_arrow {
    position: relative;
    top: 0.15rem;
    width: .6rem;
    margin-left: .3rem;
    display: inline-block;
}
.iphone {
    margin-left: .6rem;  
    margin-right: .6rem;
    color: #fc7946;
}
.iphone-check {
    padding: 2rem 0;
    color:#545454;
    font-size: 1.3rem;
}
.git-message {
    padding: 1.5rem 0 1.5rem 14%;
}
.m_bot {
    margin-bottom: 2rem;
}
.warning {
    margin-left: 29%;
    margin-bottom: 1rem;
    display: block;
    padding-left:1.5rem;
    background: url(../images/warning_icon.png) 0 .3rem no-repeat;
    background-size: 1rem 1rem;
    color: #fc7946;
}
.import {
    margin-bottom: 1rem;
}
.import input{
    width:86%;
    padding:.7rem 0;
    line-height: 1.8rem;
    border-radius: 3px;
    margin: 0 7%;
    border:1px solid #c9c9c9;
    background: #fff;
    color: #999;
    font-size: 1.5rem;
    -webkit-appearance:none;
    text-align: center;
}
.bonus-btn {
    width:86%;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 3px;
    margin: 0 7%;
    display: block;
    background: #ff4d4d;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.title {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.4rem;
    display: inline-block;
    color: #ff7b49;
}
.title .line,.rule .line {
  width: 25%;
  height: 1px;
  padding: 0 .5rem;
  display: inline-block;
  border-top: 1px solid #ff7b49;
  border-color: inherit;
  vertical-align: middle;
}
.title h3 {
  position: relative;
  padding: 0 .5rem;
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
}
.rule_lists {
    margin-top:1rem;
}
.rule_lists li {
    margin-left: 10%;
    font-size: 1.2rem;
    color: #545454;
    line-height: 2rem;
    text-align: left;   
}


.get-detail {
    padding:2rem 0 2rem 0;
    color:#545454;
    font-size: 1.2rem; 
}
.get-detail .tit{
    color:#545454;
    font-size: 1.5rem;
    text-align: center;
}
.get-detail .tit h2{
    display: inline-block;
}
.get-detail .hint-icon{
    position: relative;
    top:.3rem;
    right:.5rem;
    display: inline-block;
    width:1.6rem;
}

.get-end {
    padding:2rem 0 3rem 0;
}
.get-end p{
    padding-bottom: 2rem;
    color: #ff7a48;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}
.change {
    color: #fc7946;
}
.mobile-con {
    padding:0 0 1.5rem 14%;
}
/**手机号编辑弹框*/
.detail-dialog{
    position: relative;
    margin: 0 auto;
    top:24%;
    width:80%;
    background: #fff;
    border-radius: 3px;
    display: none;
    padding-bottom: 1.3rem;
}
.detail-dialog .tit {
    padding-top:4rem;
    margin-bottom: 1.3rem;
    color: #545454;
    font-size: 1.4rem;
    text-align: center;
}
.detail-dialog .close-icon {
    position: relative;
    float: right;
    top:1rem;
    right:1rem;
    width:1.4rem;
}
.detail-dialog .warning {
    font-size: 1.2rem;
    margin-top:1rem;
}
.detail-dialog .d-import input {
    width:86%;
    padding: .7rem 0;
    line-height: 1.8rem;
    border:1px solid #b8b6b6;
    border-radius: 3px;
    margin: 0 7% 1.3rem 7%;
    background: #fff;
    text-indent: 30%;
    color: #999;
    font-size: 1.5rem;
    -webkit-appearance:none;
}
.detail-dialog .bonus-btn {
    width:86%;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 0 7% 0 7%;
    border-radius: 3px;
    display: block;
    background: #ff4d4d;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.code-con {
    padding-bottom: 2rem;
}
.QRCode {
    position: relative;
    width:50%;
    margin: 0 25% 1rem 25%;
}
.des {
    text-align: center;
}
.test {
    width: 86%;
    margin:0 7% 1rem 7%;
} 
.test input {
    width: 69%;
    padding:.7rem 0;
    line-height: 1.8rem;
    border:1px solid #c9c9c9;
    border-radius: 3px;
    text-indent: 1rem;
    font-size: 1.4rem;
    color: #afafaf;
    -webkit-appearance:none;
}
.test span {
    float: right;
    width: 26%;
    height: 3.2rem;
    background: #fff;
}
.test span img {
    padding-top: .6rem;
}
.stop {
    height: 100%;
    overflow: hidden;
}